
%form{action: url('/import_keys'), method: 'post', enctype: 'multipart/form-data'}
  Upload keys file:
  %input{type: 'file', name: 'keys'}
  %input{type: 'submit', value: 'Upload'}

%form{action: url('/import_proxies'), method: 'post', enctype: 'multipart/form-data'}
  Upload proxies file:
  %input{type: 'file', name: 'proxies'}
  %input{type: 'submit', value: 'Upload'}

%form{action: url('/execute_sql'), method: 'post'}
  %textarea{name: 'sql'}
  %input{type: 'submit', value: 'Send'}
