
-if keys.size
    %table{cellpadding: 1}
        %thead
            %th id 
            %th comment
            %th last used
            %th classic 
            %th expansion 
            %th banned 
            %th muted 
            %th in use 
            %th used by someone else
            %th tagged by blizz
            %th username 
        - keys.each do |el|
            %tr
                %td= el['id']
                %td= el['comment']
                %td= DateTime.parse(el['last_used']).strftime('%Y-%m-%d %H:%M')
                %td= el['classic']
                %td= el['expansion']
                %td= el['banned']
                %td= el['muted']
                %td= el['in_use']
                %td= el['used_by_someone']
                %td= el['blizz_tagged']
                %td= el['username']
                - #%td= DateTime.strptime(el['last_used'].to_s, '%s')
-else
