
-if proxies.size
    %table{cellpadding: 1}
        %thead
            %th id 
            %th host
            %th port
            %th username
            %th password
            %th in use 
            %th do not use 
        - proxies.each do |el|
            %tr
                %td= el['id']
                %td= el['host']
                %td= el['port']
                %td= el['username']
                %td= el['password']
                %td= el['in_use']
                %td= el['do_not_use']
-else
